[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
django-jazzmin = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
gunicorn = "*"

django-shortuuidfield = "*"
django-import-export = "*"
pillow = "*"


whitenoise = "*"

django-tinymce = "==2.9.0"



[dev-packages]

[requires]
python_version = "3.9"
