{% extends 'partials/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4 mt-5">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ object.title }}</h1>
                    <!-- Post meta content-->
                    <div class="small text-muted">Published on: {{ object.published_at|date:"F j, Y" }}</div>
                    <div class="small text-muted">Author: {{ object.author.username }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4"> {{ object.content|safe }} </p>
                    {% if object.likes.count == 1 %}
                        <p>{{ object.likes.count }} persons likes this post</p>
                    {% else %}
                        <p>{{ object.likes.count }} people likes this post</p>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        {% if liked_by_user %}
                            <form method='POST' action="{% url 'blog_likes' object.id %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary"> Unlike this post</button>
                            </form>
                        {% else %}
                            <form method='POST' action="{% url 'blog_likes' object.id %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary"> Like this post</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-outline-primary" disabled>Login to like this post</button>
                    {% endif %}
                </section>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <form class="mb-4" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- <textarea class="form-control" name="comment_text" rows="3" placeholder="Join the discussion and leave a comment!"></textarea> -->
                                    {{ comment_form.as_p }}
                                    <button class="btn btn-info mt-3" type="submit">Add comment <i class="fas fa-comments"></i></button>
                                </div>
                            </form>
                        {% endif %}
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0">
                                <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold"></div>
                                {{ comment.content|safe }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-6 mx-0 mt-3">
                    <a class="btn btn-outline-secondary" href="{% url 'blogs' %}"> Go Back</a>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4 mt-5">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
