{% extends 'partials/base.html' %}
    {% load static %}
    <title>OwO - {% block title %} Category {% endblock title %}</title>
    {% block content %}
    {% include 'blog/blog_header.html' %}
    <!-- Main Content-->
    <!-- <img src="{% static 'assets/images/blog/home-bg.jpg' %}" class="img-fluid" alt="..."> -->

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    {% if object_list %}
                    {% for blog in object_list %}
                    <section class="mb-5">
                        <div style="width: 100%;">
                            <div class="card mb-4 ">
                                {% if blog.image %}
                                <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog.image.url }}" height='400' /></figure>
                                {% else %}
                                    <img src="..." class="img-fluid" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h2 class="card-title">{{ blog.title | safe }}</h2>
                                    <div class="small text-muted">Published on: {{ blog.published_at|date:"F j, Y" }}</div>
                                    <div class="small text-muted">Published by: {{ blog.author.username }}</div>
                                    <p class="card-text">{{ blog.content|truncatewords:30 | safe }}</p>
                                    {% if blog.likes.count == 1 %}
                                        <p class="text-muted">{{ blog.likes.count }} persons likes this post</p>
                                    {% else %}
                                        <p class="text-muted">{{ blog.likes.count }} people likes this post</p>
                                    {% endif %}
                                    <a href="{% url 'blog_details' pk=blog.pk %}"> Read more → </a>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                    {% else %}
                        <p>No blogs found for this category.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}